/*
font-family: 'Press Start 2P', cursive;
font-family: 'Open Sans', sans-serif;
*/
body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }
/*loading animation*/
div.app-loading {
    width: 20px;
    height: 20px;
    animation-name: spin;
    margin: auto;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  /*Game container*/
  div.app-game-container{
      background-color: rgba(255, 255, 255, 0.8);
      margin-top: 20px;
      min-height: 550px;
      border-radius: 2px;
      box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.315)  ;
  }


  /*Player one and Player two CSS config*/
div.app-player-one{
    text-align: center;
  }

div.app-player-one h2{
      color: blue;
      margin-top: 30px;
      font-size: 25px;
      font-family: 'Press Start 2P', cursive;
}

div.app-player-one h4, div.app-player-two h4{
    margin-top: 25px;
}

p.app-vehicle-name {
    font-size: 20px;
}

div.app-player-one p, div.app-player-two p{
    margin-top: 20px;
    color: gray;
    font-style: oblique;
}

.app-spaceship-image{
    width: 100px;
    height: 100px;
  }

div.app-player-two h2{
    color: red;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
}

div.app-player-two{
    text-align: center;
  }

  /*Main game config*/

div.app-game-display{
      text-align: center;
      padding-top: 50px;
  }

div.app-game-display span{
      font-size: 30px;
      margin-left: 10px;
      font-weight: bold;
  }

div.app-game-display-score h4{
      margin-top: 20px;
      color: lightslategray;
    font-family: 'Press Start 2P', cursive;
  }
div.app-game-display-resources img {
        margin-top: 30px;
        width: 50px;
        height: 50px;
   }

div.app-game-display-resources p {
    font-weight: bold;
    color: darkgoldenrod
   }


div.app-game-winner{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 30px;
    color: gray;
    animation: winner 1s infinite;
}

@keyframes winner {
    from {
        color: rgb(37, 186, 255);
    }
    to {
        color: rgb(255, 207, 87);
    }
}


/*Spinning planet*/

div.app-spinning-planet{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background: url(../images//marsbg.jpg);
    background-size: 300px;
    position: absolute;
    top: 100%;
    left: -30px;
    z-index: 20;
    animation: planet1 3.5s infinite linear;
}


@keyframes planet1 {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 300px;
    }
}

/*Game intro*/

div.app-game-introduction{
    perspective: 400px;
    font-size: 300%;
    color: goldenrod;
    background-color: rgba(0, 0, 0, 0.562);
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    width: 100%;
    margin: auto;
    z-index: 10;
    text-align: justify;
}

div.app-game-introduction-text{
    position: relative;
    top: -10px;
    transform-origin: 50% 50%;
    animation: text-animation 300s linear;
}

@keyframes text-animation {
    0% {
      /* The element starts below the screen */
      top: 0;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -6000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }


  div.app-game-introduction-text button{
    margin: auto;
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    color: goldenrod;
    border-radius: 5px;
    margin-left: 33%;
  }

  div.app-game-introduction-text button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid goldenrod;
    box-shadow: 2px 2px 2px goldenrod;
  }